<!DOCTYPE html>
<html lang="en">
    {% extends "layout.html" %}
    {% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Input</title>
</head>
<body>
    <form action="http://localhost:5000/generate_prediction" method="POST">
        <p>Please specify the desired venue and period:</p>
        <p>Venue:<select name = "venue">
            <option value = "Bishan Sports Hall" selected>Bishan Sports Hall</option>
            <option value = "Bukit Gombak Sports Hall" selected>Bukit Gombak Sports Hall</option>
            <option value = "Choa Chu Kang Sports Hall" selected>Choa Chu Kang Sports Hall</option>
            <option value = "Clementi Sports Hall" selected>Clementi Sports Hall</option>
            <option value = "Heartbeat @ Bedok ActiveSG Sports Hall" selected>Heartbeat @ Bedok ActiveSG Sports Hall</option>
            <option value = "Hougang Sports Hall" selected>Hougang Sports Hall</option>
            <option value = "Jurong East Sports Hall" selected>Jurong East Sports Hall</option>
            <option value = "Jurong West Sports Hall" selected>Jurong West Sports Hall</option>
            <option value = "Our Tampines Hub - Community Auditorium" selected>Our Tampines Hub - Community Auditorium</option>
            <option value = "Pasir Ris Sports Hall" selected>Pasir Ris Sports Hall</option>
            <option value = "Sengkang Sports Hall" selected>Sengkang Sports Hall</option>
            <option value = "Toa Payoh Sports Hall" selected>Toa Payoh Sports Hall</option>
            <option value = "Yio Chu Kang Sports Hall" selected>Yishun Sports Hall</option>
            <option value="" disabled hidden selected>Select the venue</option>
        </select></p>
        <p>Start Date: <input type="date" name="start_date" min="2019-01-15" /></p>
        <p>Start Time:<select name = "start_time">
            <option value = "07:00:00" selected>0700</option>
            <option value = "08:00:00" selected>0800</option>
            <option value = "09:00:00" selected>0900</option>
            <option value = "10:00:00" selected>1000</option>
            <option value = "11:00:00" selected>1100</option>
            <option value = "12:00:00" selected>1200</option>
            <option value = "13:00:00" selected>1300</option>
            <option value = "14:00:00" selected>1400</option>
            <option value = "15:00:00" selected>1500</option>
            <option value = "16:00:00" selected>1600</option>
            <option value = "17:00:00" selected>1700</option>
            <option value = "18:00:00" selected>1800</option>
            <option value = "19:00:00" selected>1900</option>
            <option value = "20:00:00" selected>2000</option>
            <option value = "21:00:00" selected>2100</option>
            <option value = "22:00:00" selected>2200</option>
            <option value="" disabled hidden selected>Select the start time</option>
        </select></p>
        <p>End Date: <input type="date" name="end_date" min="2019-01-15"/></p>
        <p>End Time:<select name = "end_time">
            <option value = "07:00:00" selected>0700</option>
            <option value = "08:00:00" selected>0800</option>
            <option value = "09:00:00" selected>0900</option>
            <option value = "10:00:00" selected>1000</option>
            <option value = "11:00:00" selected>1100</option>
            <option value = "12:00:00" selected>1200</option>
            <option value = "13:00:00" selected>1300</option>
            <option value = "14:00:00" selected>1400</option>
            <option value = "15:00:00" selected>1500</option>
            <option value = "16:00:00" selected>1600</option>
            <option value = "17:00:00" selected>1700</option>
            <option value = "18:00:00" selected>1800</option>
            <option value = "19:00:00" selected>1900</option>
            <option value = "20:00:00" selected>2000</option>
            <option value = "21:00:00" selected>2100</option>
            <option value = "22:00:00" selected>2200</option>
            <option value="" disabled hidden selected>Select the end time</option>
        </select></p>
        <p><input type="submit" value="submit" /></p>
    </form>
</body>
{% endblock %}
</html>