<!DOCTYPE html>
<html>
    <head>
        <title>Login HomePage</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='login_success.css') }}"> -->
    </head>
    
    <body>
        <h2 align="center">Welcome {{ user }}!</h2>
        <div style="text-align: center;"> 
            <p><a href=upload_image ><button class=grey style="height:75px;width:150px">Upload Image</button></a></p>
            <p><a href=sports_sg ><button class=grey style="height:75px;width:150px">Sports Sg Traffic</button></a></p>
            <p><a href=upload_video ><button class=grey style="height:75px;width:150px">Upload Video</button></a></p>
            </div>
    </body>
</html>