<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"> -->
    </head>
    
    <body>
        <h2 align="center">Welcome to my website</h2>
        <p align="center"><a href=login_attempt ><button class=grey style="height:75px;width:150px">Click here to log in</button></a></p>
    </body>
</html>