<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block body %}

<body>
    <h1>Welcome, please enter details to login.</h1>
    <hr>
    <form action="http://localhost:5000/login" method="POST">
        <p>Enter Name and Password:</p>
        <p>Username: <input type="text" name="nm" /></p>
        <p>Password: <input type="password" pw="password" /></p>
        <p><input type="submit" value="submit" /></p>
    </form>
</body>
{% endblock %}

</html>