<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block body %}
<body>
    <h2>{{ img_name }}</h2>
    <img src= "{{ url_for('static', filename='rectangle_images/' + img_name) }}">
</body>
{% endblock %} 

</html>