<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
    <p>Venue: {{ venue }}</p>
    <p>Start date: {{ start_date }}</p>
    <p>Start time: {{ start_time }}</p>
    <p>End date: {{ end_date }}</p>
    <p>End time: {{ end_time }}</p>
</body>
</html>