<!DOCTYPE html>
<html>
    {% extends "layout.html" %}
    {% block body %}
<head>
    <title>Video Upload Box</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='file.css') }}"> -->
</head>

<body>
    <form action="http://localhost:5000/video_upload" method="POST" enctype="multipart/form-data">
        <p>Upload your Video here:</p>
        <input type="file" name="file" />
        <br>
        <br>
        <p>Input Top Left coordinate here</p>
        <input type="number" name="x1-coord" placeholder="Top Left x-coordinate" />
        <input type="number" name="y1-coord" placeholder="Top Left y-coordinate" />
        <br>
        <br>
        <p>Input Bottom Right coordinate here</p>
        <input type="number" name="x2-coord" placeholder="Bottom Right x-coordinate" />
        <input type="number" name="y2-coord" placeholder="Bottom Right y-coordinate" />
        
        <input type="submit" />
    </form>
</body>
{% endblock %}
</html>
