<!DOCTYPE html>
<html lang="en">
    {% extends "layout.html" %}
    {% block body %}
<head>
    <title>Video Boxer</title>
</head>
<body>
    <h1>IMDA VIDEO BOXER</h1>
    <img src="{{ url_for('video_feed') }}" width="100%">
    <form action="{{ url_for('upload_video') }}">
        <input type="submit" value="Upload another video"/>
    </form>
    <form action="{{ url_for('index') }}">
        <input type="submit" value="Back to Home"/>
    </form>
    
</body>
{% endblock %}
</html>